<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <ul>
            <% resp.forEach(function(resp) { %>
            <li><%= resp.name %> - <%= resp.price %></li>
            <% }); %>
        </ul>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>